# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# misc
npm-debug.log
/**/*.DS_Store
.dccache

# tests
/test
/coverage
/.nyc_output
**/*.log

# dist
dist
.env
.npmrc
